* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --main-color: #13bbff;
    --other-color: #c3cad5;
    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

span {
    background: linear-gradient(to top, aqua, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.row img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1.2rem;
}

.row {
    background: #2d343f;
    border-radius: 25px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 15px;
    transition: all .50s ease;
}

.center-text h2 {
    font-size: 50px;
    margin: 4px;
}

.center-text {
    margin-top: 35px;
    text-align: center;
}

.sertifikat-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.row i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    color: var(--text-color);
    background: #075fe4;
}

.row h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
    line-height: 1.2;
}

.row h5 a {
    font-size: 15px;
    font-weight: 550;
    color: var(--other-color);
}

.row:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1);
    cursor: pointer;
}